<section>

    <div class="slider-wrapper">

        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2>ArielPaw</h2>
                <p>Create plan and activities.</p>
                <a href="#" class="da-link">Read more</a>
                <!--<div class="da-img">
                        <img src="~/img/parallax-slider/twitter.png" alt="image01" />
                    
                    </div>-->
            </div>
        </div>

    </div>
    
    
    <!--start: Wrapper-->
	<div id="wrapper">
				
        <div id="page-title">
            <div id="page-title-inner">
                <div class="container">
                    <div class="pull-left">
                        <h2 data-bind="text:welcomeMsg"></h2>
                       
                    </div>
                </div>
            </div>
        </div>

		<!--start: Container -->
        <div class="container">


            <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h2>
                    Plan actvities based on the best places around your area.
                </h2>
                <p></p>
                <!--
                <p>
                    <input type="text" class="input-xxlarge" placeholder="Your city" data-bind="value: locationFilter.selectedLocation.name, googleAutoComplete: locationFilter.autocompleteText, event: {keypress:googleAutocompleteDefault}" />
                    <button class=" button primary" data-bind="click:setCurrent">Set Current Location</button>

                </p>

                    -->

                <p>
                    <a class="btn btn-success btn-large" data-bind="click:create">Create a new plan &raquo;</a>
                </p>
            </div>
            <!-- end: Hero Unit -->


            <!-- start: Row -->
            <div class="row">

                <!-- start: Icon Boxes -->
                <div class="icons-box-vert-container">

                    <!-- start: Icon Box Start -->
                    <div class="span4">
                        <div class="icons-box-vert">
                            <i class="ico-ok ico-white circle-color-full"></i>
                            <div class="icons-box-vert-info">
                                <h3>Easy to use</h3>
                                <p>Create a plan and select the activities you want to create.</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- end: Icon Box-->
                    <!-- start: Icon Box Start -->
                    <div class="span4">
                        <div class="icons-box-vert">
                            <i class="ico-cup  ico-white circle-color-full"></i>
                            <div class="icons-box-vert-info">
                                <h3>Best choice</h3>
                                <p>Add friends or family to include in your plan.</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- end: Icon Box -->
                    <!-- start: Icon Box Start -->
                    <div class="span4">
                        <div class="icons-box-vert">
                            <i class="ico-ipad ico-white circle-color-full"></i>
                            <div class="icons-box-vert-info">
                                <h3>Track your activities</h3>
                                <p>See your upcomming events and past activities.</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- end: Icon Box -->

                </div>
                <!-- end: Icon Boxes -->
                <div class="clear"></div>
            </div>


            <!-- end: Row -->

        </div>
		<!--end: Container-->
	

	</div>
	<!-- end: Wrapper  -->			

  

	


</section>
