<!-- start: Page Title and search -->
<div id="page-title">
    <div id="page-title-inner">
        <div class="container">
            <div class="pull-left">
                
                <h2 data-bind="text:plan.Name"></h2>
            </div>
            <div class="pull-right">
                <h2>
                    <button type="button" class="btn btn-inverse" data-bind="click: goBack">Back</button>
                    <button type="button" class="btn btn-inverse" data-bind="click: save">Save</button>
                    <button type="button" class="btn btn-info" data-bind="click: showHideMapContainer, showHideMap: mapvisible, slideduration: 600, text: mapText"></button> 
                </h2>
            </div>
        </div>

    </div>

</div>
